*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    background-color: yellow;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 90px 1fr 90px;
    gap: 20px;
}

body > * {
    background-color: bisque;
    border: solid black 5px;
    margin: 0px 20px;
}

header , footer{
    grid-column: 1 / -1;
}

@media (max-width : 760px) {
    body{
        grid-template-columns: 0.8fr 3fr;
        gap: 5px;
        margin: 10px 0px;
        height: 97vh;
    }
    header{
        grid-column: 2 / -1;
    }
    aside{
        grid-row: 1 / -1;
        margin-right: -4px;
    }
    footer{
        grid-column: 2 /-1;
    }
    
}